@import '../../../_variables.scss';

.z-dropdownlist {

    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    > i {
        margin-left: auto;
    }

    > span {
        text-overflow: ellipsis;
        user-select: none;
        font-size: $ui-control-font-size;
    }
}
.z-dropdownlist.focused {
    outline: none !important;
    box-shadow: 0 0 0 $ui-box-shadow-size rgba($ui-border-colour, 0.5);
}

.z-dropdownlist-content {
    position: absolute;
    overflow-y: auto;
    width: auto;
    min-width: $ui-control-min-width;
    max-height: $ui-control-max-dropdown-height;
    background-color: $white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;

    .selected {
        background-color: $grey-300
    }
}

.z-dropdownlist-item {
    color: $ui-text-colour;
    padding: $ui-control-padding;
    text-decoration: none;
    display: flex;
    flex-direction: column;

    &:hover {
        background-color: $grey-300
    }
}