@import '../../_variables.scss';

.z-btn {
    border: 1px transparent;
    font-weight: bold;
    font-size: 0.875rem;
    transition: all 150ms ease;
    padding: 12px;
    border-radius: 24px;
    cursor: pointer;

    &:focus-visible {
        outline: none;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .container {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }
}

.z-circular {
    padding: 0px;
    aspect-ratio: 1;
}

.z-btn-primary {
    background-color: $blue-600;
    border-color: $blue-600;
    color: $blue-600;

    &:hover {
        border-color: $blue-900;
        background-color: $blue-900;
    }

    &:focus-visible {
        box-shadow: 0 0 0 5px rgba($blue-600, 0.5);
    }
}

.z-btn-secondary {
    background-color: $grey-600;
    border-color: $grey-600;
    color: $grey-600;

    &:hover {
        border-color: $grey-900;
        background-color: $grey-900;
    }

    &:focus-visible {
        box-shadow: 0 0 0 5px rgba($grey-600, 0.5);
    }
}

.z-btn-success {
    background-color: $green-600;
    border-color: $green-600;
    color: $green-600;

    &:hover {
        border-color: $green-900;
        background-color: $green-900;
    }

    &:focus-visible {
        box-shadow: 0 0 0 5px rgba($green-600, 0.5);
    }
}

.z-btn-info {
    background-color: $cyan-600;
    border-color: $cyan-600;
    color: $cyan-600;

    &:hover {
        border-color: $cyan-900;
        background-color: $cyan-900;
    }

    &:focus-visible {
        box-shadow: 0 0 0 5px rgba($cyan-600, 0.5);
    }
}

.z-btn-warning {
    background-color: $yellow-600;
    border-color: $yellow-600;
    color: $yellow-600;

    &:hover {
        border-color: $yellow-900;
        background-color: $yellow-900;
    }

    &:focus-visible {
        box-shadow: 0 0 0 5px rgba($yellow-600, 0.5);
    }
}

.z-btn-danger {
    background-color: $red-600;
    border-color: $red-600;
    color: $red-600;

    &:hover {
        border-color: $red-900;
        background-color: $red-900;
    }

    &:focus-visible {
        box-shadow: 0 0 0 5px rgba($red-600, 0.5);
    }
}

.z-btn-contained {
    color: white;
}

.z-btn-outlined {
    border: 1px solid;
    background-color: white;

    &:hover {
        color: white;
    }
}

.z-btn-text {
    background-color: white;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid currentColor;
        background-color: white;
    }
}