@using Microsoft.JSInterop;
@inject Microsoft.JSInterop.IJSRuntime JSRuntime;
@inherits Component
@implements IAsyncDisposable

<div id="@Id">
    @ChildContent
</div>

@code {

    private DotNetObjectReference<OutsideAlerter>? _objRef;

    [Parameter]
    public Action? OnClickOutside { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override async Task OnInitializedAsync () {
        _objRef = DotNetObjectReference.Create(this);

        await JSRuntime.InvokeVoidAsync("setupOutsideAlerter", _objRef, Id);        

        await base.OnInitializedAsync ();
    }

    [JSInvokable]
    public void InvokeClickOutside () {
        OnClickOutside?.Invoke();
    }

    public async ValueTask DisposeAsync()
    {
        await JSRuntime.InvokeVoidAsync("cleanupOutsideAlerter", _objRef, Id);    
        _objRef?.Dispose();
    }
}