@inject IAuthenticationContext _authContext
@inject IAppContextService _appContextService

<div class="z-context">
    <p>@_appContextService.RangeStart.ToString("MMMM d, yyyy") - @_appContextService.RangeEnd.ToString("MMMM dd, yyyy")</p>
    <p>@_authContext.User?.name</p>
    <Button
        Variant="ButtonVariant.Text"
        Type="ButtonType.Secondary"
        IconStyle="IconStyle.IconOnly"
        Icon="plus-lg"
        OnClick="@OnQuickCreateClicked"/>
</div>

@code {


    [Parameter]
    public bool QuickCreateOpen { get; set; }

    [Parameter]
    public EventCallback<bool> QuickCreateOpenChanged { get; set; }


    private async Task OnQuickCreateClicked()
    {
        QuickCreateOpen = !QuickCreateOpen;
        await QuickCreateOpenChanged.InvokeAsync(QuickCreateOpen);
    }

}
