@using mark.davison.finance.web.components.CommonCandidates.Utilities;
@inject IAppContextService _appContext;

<div onclick="@(() => Console.WriteLine("TODO: Select date range"))">
    @* <DateRange @bind-Start="_appContext.RangeStart" @bind-End="_appContext.RangeEnd" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Mark Davison</span> *@
</div>