@attribute [Route(Routes.Account)]
@inherits ComponentWithState

<div style="display: flex; flex-direction: column;">
    <h1>View Account</h1>
    <span>@Id</span>
    <div>@_currentAccount?.Name</div>
</div>

@code {
    private AccountListItemDto? _currentAccount => _accountListState.Instance.Accounts.FirstOrDefault(_ => _.Id == Id);

    private StateInstance<AccountListState> _accountListState { get; set; } = default!;

    [Parameter]
    public Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _accountListState = GetState<AccountListState>();
        if (_currentAccount == null)
        {
            await Dispatcher.Dispatch(new FetchAccountListAction(false), CancellationToken.None);
        }

        await base.OnInitializedAsync();
    }
}