@inject ICQRSDispatcher _actionDispatcher;
@inject IAuthenticationContext _authContext

@if (_authContext.IsAuthenticated)
{
    <div class="z-app-body">
    <ContextBar />
    @ChildContent
    </div>
}

@code {

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (_authContext.IsAuthenticated)
        {
            await _actionDispatcher.Dispatch<UpdateLookupsAction>(CancellationToken.None);
        }

        await base.OnInitializedAsync();
    }

}
