@inherits LayoutComponentBase

<PageTitle>Zeno Finance</PageTitle>

<div class="z-app-container">
    <Appbar Items="@AppbarItems" />
    <AppBody>
    @Body
    </AppBody>
</div>

@code {
    private List<AppbarItem> AppbarItems { get; } = new()
    {
        // TODO: Internationalisation
        new AppbarItem("Dashboard", Routes.Root),
        new AppbarItem("Accounts", Routes.Accounts)
    };
}