$cyan: #38BEC9;
$cyan-100: #E0FCFF;
$cyan-200: #BEF8FD;
$cyan-300: #87EAF2;
$cyan-400: #54D1DB;
$cyan-500: $cyan;
$cyan-600: #2CB1BC;
$cyan-700: #14919B;
$cyan-800: #0E7C86;
$cyan-900: #0A6C74;
$cyan-1000: #044E54;

$blue: #4098D7;
$blue-100: #DCEEFB;
$blue-200: #B6E0FE;
$blue-300: #84C5F4;
$blue-400: #62B0E8;
$blue-500: $blue;
$blue-600: #2680C2;
$blue-700: #186FAF;
$blue-800: #0F609B;
$blue-900: #0A558C;
$blue-1000: #003E6B;

$green: #57AE5B;
$green-100: #E3F9E5;
$green-200: #C1EAC5;
$green-300: #A3D9A5;
$green-400: #7BC47F;
$green-500: $green;
$green-600: #3F9142;
$green-700: #2F8132;
$green-800: #207227;
$green-900: #0E5814;
$green-1000: #05400A;

$yellow: #F7D070;
$yellow-100: #FFFAEB;
$yellow-200: #FCEFC7;
$yellow-300: #F8E3A3;
$yellow-400: #F9DA8B;
$yellow-500: $yellow;
$yellow-600: #E9B949;
$yellow-700: #C99A2E;
$yellow-800: #A27C1A;
$yellow-900: #7C5E10;
$yellow-1000: #513C06;

$red: #D64545;
$red-100: #FFEEEE;
$red-200: #FACDCD;
$red-300: #F29B9B;
$red-400: #E66A6A;
$red-500: $red;
$red-600: #BA2525;
$red-700: #A61B1B;
$red-800: #911111;
$red-900: #780A0A;
$red-1000: #610404;

$grey: #829AB1;
$grey-100: #F0F4F8;
$grey-200: #D9E2EC;
$grey-300: #BCCCDC;
$grey-400: #9FB3C8;
$grey-500: $grey;
$grey-600: #627D98;
$grey-700: #486581;
$grey-800: #334E68;
$grey-900: #243B53;
$grey-1000: #102A43;

$white: #fff;
$black: #000;

$primary: $blue-700;
$seconday: $grey-700;
$success: $green-700;
$warning: $yellow-700;
$danger: $red-700;
$info: $cyan-700;

$overlay-opacity: 0.5;
$ui-text-colour: $grey-800;
$ui-border-colour: $grey-300;
$ui-box-shadow-size: 5px;
$ui-control-min-width: 260px;
$ui-control-min-height: 32px;
$ui-control-border: 1px solid $ui-border-colour;
$ui-control-padding: 4px 8px;
$ui-control-border-radius: 4px;
$ui-control-font-size: 0.875rem;
$ui-label-font-weight: 700;
$ui-label-margin-bottom: 0.25rem;
$ui-control-max-dropdown-height: 320px;

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.muted-text {
    color: $grey-500;
}