@inherits ComponentWithState

<div id="AddCategoryForm">
    <TextInput 
        Id="add-category-form-name"
        Label="Name" 
        IsLabelDisplay="true"
        Width="100%"
        @bind-Value="ViewModel.Name"/>
</div>

@code {

    [Parameter, EditorRequired]
    public required AddCategoryFormViewModel ViewModel { get; set; }

    protected override void OnInitialized()
    {
        ViewModel.CategoryListState = GetState<CategoryListState>();
    }
}