@using mark.davison.finance.web.ui.Features.Account
@using mark.davison.finance.web.ui.Features.Account.List
@attribute [Route(Routes.Accounts)]
@inherits ComponentWithState

<h1>Accounts</h1>
<div>
    <Button
        Variant="ButtonVariant.Outlined"
        Type="ButtonType.Primary"
        IconStyle="IconStyle.IconOnly"
        Icon="plus-lg"
        OnClick="@OpenAddAccountModal" />
    <br/>
    <div>
        @foreach (var account in _accountListState.Instance.Accounts)
        {
            <div>@account.Name</div>
        }
    </div>
</div>
<AddAccountModal @bind-IsOpen="AddAccountModalOpen" />

@code {

    private StateInstance<AccountListState> _accountListState { get; set; } = default!;


    protected override async Task OnInitializedAsync()
    {
        _accountListState = GetState<AccountListState>();
        await Dispatcher.Dispatch(new FetchAccountListAction(false), CancellationToken.None);
        await base.OnInitializedAsync();
    }

    private bool AddAccountModalOpen { get; set; }
    private void OpenAddAccountModal()
    {
        AddAccountModalOpen = true;
    }

}