@inherits ComponentWithState

<div id="AddTagForm">
    <TextInput 
        Id="add-tag-form-name"
        Label="Name" 
        IsLabelDisplay="true"
        Width="100%"
        @bind-Value="ViewModel.Name"/>
</div>

@code {

    [Parameter, EditorRequired]
    public required AddTagFormViewModel ViewModel { get; set; }

    protected override void OnInitialized()
    {
        ViewModel.TagListState = GetState<TagListState>();
    }
}