<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="zui" value="https://gitlab.markdavison.kiwi/api/v4/projects/5/packages/nuget/index.json" />
		<add key="zeno-dotnet-common" value="https://gitlab.markdavison.kiwi/api/v4/projects/2/packages/nuget/index.json" />
	</packageSources>
</configuration>