@inherits Component

<div class="z-loading" style="width: @Size; height: @Size; color: @Colour;"></div>

@code {

    [Parameter]
    public LoadingType Type { get; set; }

    [Parameter]
    public string Size { get; set; } = "16px";

    [Parameter]
    public string Colour { get; set; } = "currentColor";

}
