@page "/dropdown-list"
@using mark.davison.zui.Components.Dropdown.List
@using mark.davison.zui.foundations.Abstractions

<h1>Dropdown List</h1>

<DropdownList
    TId="Guid"
    Id="DropdownListId"
    IsLabelDisplay="true"
    Label="Select the value"
    Placeholder="Please select value..."
    Items="@Items"
    @bind-Value="@Selected" />

@if (Selected != Guid.Empty)
{
    var selectedItem = Items.FirstOrDefault(_ => _.Id == Selected);
    <span>Selected Id: @Selected</span><br/>
    <span>Selected Code: @selectedItem?.Code</span><br/>
    <span>Selected PrimaryText: @selectedItem?.PrimaryText</span><br/>
    <span>Selected SecondaryText: @selectedItem?.SecondaryText</span><br/>
}

@code {


    private List<IDropdownItem<Guid>> Items = new()
    {
        new DropdownItem<Guid>(Guid.NewGuid(), "Item 1") { SecondaryText = string.Empty },
        new DropdownItem<Guid>(Guid.NewGuid(), "Item 2") { SecondaryText = string.Empty, Code = "HQS" },
        new DropdownItem<Guid>(Guid.NewGuid(), "Item 3") { SecondaryText = "description", Code = "PBT" },
        new DropdownItem<Guid>(Guid.NewGuid(), "Item 4") { SecondaryText = string.Empty },
        new DropdownItem<Guid>(Guid.NewGuid(), "Item 5") { SecondaryText = "secondary" },
    };

    private Guid Selected { get; set; }

}