@page "/dropdown-list"
@using mark.davison.zui.Components.Dropdown.List
@using mark.davison.zui.foundations.Abstractions

<h1>Dropdown List</h1>

<DropdownList
    Id="DropdownListId"
    IsLabelDisplay="true"
    Label="Select the value"
    Placeholder="Please select value..."
    Items="@Items"
    @bind-Value="@Selected" />

@if (!string.IsNullOrEmpty(Selected))
{
    var selectedItem = Items.FirstOrDefault(_ => _.Id == Selected);
    <span>Selected Id: @Selected</span><br/>
    <span>Selected Code: @selectedItem?.Code</span><br/>
    <span>Selected PrimaryText: @selectedItem?.PrimaryText</span><br/>
    <span>Selected SecondaryText: @selectedItem?.SecondaryText</span><br/>
}

@code {
    class DropdownItem : IDropdownItem
    {
        public string Id { get; set; } = string.Empty;
        public string PrimaryText { get; set; } = string.Empty;
        public string? SecondaryText { get; set; } = string.Empty;
        public string? Code { get; set; } = string.Empty;
    }

    private List<IDropdownItem> Items = new()
    {
        new DropdownItem { Id = Guid.NewGuid().ToString(), PrimaryText = "Item 1", SecondaryText = string.Empty },
        new DropdownItem { Id = Guid.NewGuid().ToString(), PrimaryText = "Item 2", SecondaryText = string.Empty, Code = "HQS" },
        new DropdownItem { Id = Guid.NewGuid().ToString(), PrimaryText = "Item 3", SecondaryText = "description", Code = "PBT" },
        new DropdownItem { Id = Guid.NewGuid().ToString(), PrimaryText = "Item 4", SecondaryText = string.Empty },
        new DropdownItem { Id = Guid.NewGuid().ToString(), PrimaryText = "Item 5", SecondaryText = "secondary" },
    };

    private string? Selected { get; set; }

}