@page "/modal"

<h1>Modal</h1>

<Button Label="Open Modal" OnClick="@(() => _isOpen = true)" />
<Button Label="Open Standard Modal" OnClick="@(() => _isStandardOpen = true)" />
<Modal
    Title="Modal Title"
    CloseOnOutsideClick="true"
    @bind-IsOpen="_isOpen">
    <ModalContent>
        <div style="background-color: wheat; width: 100%; min-height: 250px;">
            I'm just setting this thing and it works by magic?
        </div>
    </ModalContent>
    <ModalFooter>
        Im the footer
    </ModalFooter>
</Modal>
<Modal
    Title="Standard Modal Title"
    CloseOnOutsideClick="true"
    @bind-IsOpen="_isStandardOpen">
    <ModalContent>
        <div style="background-color: wheat; width: 100%; min-height: 250px;">
            More standard modal content!
        </div>
    </ModalContent>
    <ModalFooter>
        <StandardModalFooter
            SaveText="Save"
            CancelText="Cancel"
            OnSave="@OnStandardSave"
            OnCancel="@OnStandardCancel"
            @bind-IsOpen="_isStandardOpen" />
    </ModalFooter>
</Modal>

@code {

    private bool _isOpen { get; set; }
    private bool _isStandardOpen { get; set; }

    private async Task<bool> OnStandardSave()
    {
        await Task.Delay(2000);
        return false;
    }
    private async Task OnStandardCancel()
    {
        await Task.CompletedTask;
        _isStandardOpen = false;
    }

}