@page "/numeric-input"

<h2>Numeric Input</h2>

<NumericInput
    Id="ExampleNumericInputId1"
    Label="My Input" 
    IsLabelDisplay="true"
    DecimalPlaces="2"
    Negative="true"
    @bind-Value="Number" />
<span>Value: <span>@Number</span></span>

<h2>Percentage Input</h2>
<PercentageInput
    Id="ExamplePercentageInputId1"
    Label="My Percentage" 
    IsLabelDisplay="true"
    DecimalPlaces="2"
    Negative="true"
    @bind-Value="Percentage" />
<span>Percentage: <span>@Percentage</span></span>

<h2>Currency Input</h2>
<CurrencyInput
    Id="ExamplePercentageInputId1"
    Label="My Currency" 
    IsLabelDisplay="true"
    DecimalPlaces="2"
    Negative="true"
    CurrencySymbol="$"
    @bind-Value="Currency" />
<span>Currency: <span>@Currency</span></span>

@code {
    
    private decimal Number { get; set; }
    private decimal Percentage { get; set; }
    private decimal Currency { get; set; }

}
