@page "/text-input"

<h1>Text Input</h1>

<div>
    <TextInput
        Id="ExampleTextInputId1"
        Label="My Input"
        IsLabelDisplay="true"
        @bind-Value="Text"/>
    <span>Value: <span>@Text</span></span>
</div>

@code {
    private string Text { get; set; } = string.Empty;

}